* {
  box-sizing: border-box;
}

// .twitter-results{
//   display:flex;
// }
// .flickr-results{
//   display:flex;
// }

header{
  color:grey;
  text-align:center;
  margin:0 auto .25rem auto;
  padding:0;
  background-color:black;
}

h1{
  margin:0;
  padding:0;
}

.icons{
  margin: 0;
  padding: 0;
}

iframe {
  height:270px;
  width:100%;
  text-align:center;
  margin:0 auto 0 auto;
  // border-radius: 12px;
  border:1px solid black;
  grid-column: 2;
  grid-row: 1;
  // position:relative;

}

body{
  margin:auto;
  background-color:#555555;
}

// .youtube{
// height:220px;
//   background-color:green;
// }


.search-box{
  width:50%;
  margin:0 auto 0 auto;
  padding:0;
  height:40px;

}

.container {
  background-color:black;
  display: grid;
  grid-gap: 10px;
    grid-template-columns:50% 50%;
    grid-template-rows: 270px 270px;
}


.twitter-results a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.tweet {
  margin-top: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 25px;
  background: #1E2835;
  color: white;
  

  &__img {
    border-radius: 50%;
  }

  &__screen-name {
    color: #8B99A5;
  }

  &__fav {
    margin-left: 10px;
  }

  &__content {
    margin: 10px 0;
  }
}
.tweet:hover {
  background-color:rgba(0,0,0,.4);
}

.twitter-results {
  // border: 1px solid black;
  background: #161D25;
  // margin: 20px 0;
  height: 540px;
  // width:50%;
  overflow: auto;
  grid-column:1;
  grid-row:1/2;
}

// Flickr Slideshow

.slideshow-container {
  // max-width: 50%;
  position: relative;
  height: 260px;
  width:90%;
  overflow:auto;
  margin: 0 auto 0 auto;
  grid-column:2;
  grid-row:2;
}

// Hide the images by default
.mySlides {
    // display: none;
}

// Next & previous buttons
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

// Position the "next button" to the right
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

// On hover, add a black background color with a little bit see-through
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: #FFF;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.footer__twitter{
  color:white;
  grid-column:1;
  grid-row:3;
}

.footer__flickr{
  color:white;
  grid-column:2;
  grid-row:3;
}
