* {
  box-sizing: border-box;
}

header{
  color: #E5E6E4;
  text-align:center;
  margin:0 auto .25rem auto;
  padding:0;
  background: linear-gradient(#161D25, 95%, rgb(129, 152, 160));
}

h1{
  margin: 0;
  padding: 20px 0 20px 0;
  font-weight: 800;
  font-family: 'Open-sans', sans-serif;
}

.icons{
  margin: 0;
  padding-bottom: 20px;
  font-size: 1.3rem;
}

#search-button {
  background: linear-gradient(rgb(129, 152, 160), 10%, #1E2835, 95%, rgb(129, 152, 160));
  border: none;
}

body{
  margin:auto;
  background-color:#E5E6E4;
}

.search-box{
  width:50%;
  margin:50px auto 50px auto;
  padding:0;
  height:40px;

}

.subheader {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #1E2835;
  padding: 50px 20px 10px 20px;
  line-height: 30px;
}


.subicon {
  color: #161D25;
  // position: fixed;
  font-size: 1.5rem;
  margin:.5rem 0 0 0;
  padding: 0;
}

.iconline {
  margin: 0;
  font-family: 'Open-sans', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.container {
  // background-color:black;
  display: grid;
  grid-gap: 10px;
    grid-template-columns:50% 50%;
    grid-template-rows: 310px 310px;
  box-shadow: inset 0 0 10px #000000; 
  padding-top: 10px;
}

.hidden {
  display: none;
}

// You Tube

iframe {
  height:270px;
  width:100%;
  text-align:center;
  margin:0 auto 0 auto;
  // border-radius: 12px;
  border:1px solid black;
  grid-column: 2;
  grid-row: 1;
  // position:relative;
}

// Twitter

.twitter-results a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.tweet {
  margin-top: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 25px;
  background: #1E2835;
  color: white;
  

  &__img {
    border-radius: 50%;
  }

  &__screen-name {
    color: #8B99A5;
  }

  &__fav {
    margin-left: 10px;
  }

  &__content {
    margin: 10px 0;
  }
}
.tweet:hover {
  background-color:rgba(0,0,0,.4);
}

.twitter-results {
  background: #161D25;
  height: 580px;
  overflow: auto;
  grid-column:1;
  grid-row:1/2;
}

// Flickr 

.slideshow-container {
  // max-width: 50%;
  // position: relative;
  height: 260px;
  width:100%;
  overflow:auto;
  margin: 0 auto 0 auto;
  grid-column:2;
  grid-row:2;
}

#flickr-photo-display-area {
  &__a {
    text-decoration: none;
  }
}

.flickrPhoto {
  margin-top: 10px;
}

// .footer__twitter{
//   color:white;
//   grid-column:1;
//   grid-row:3;
// }

// .footer__flickr{
//   color:white;
//   grid-column:2;
//   grid-row:3;
// }

footer {
  margin-top: 50px;
}

@media all and (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .slideshow-container {
    order: 3;
    height: 515px;
  }
  
  .content {
    order: 2;
  }
  
  iframe {
    order: 1;
  }

  .subtitle {
    position: absolute;
  }

  .subheader {
    font-size: 1.1rem;
    padding-bottom: 0px;
  }

  .search-box {
    width: 85%;
  }

  .search-box {
    margin-bottom: 20px;
  }

}