* {
  box-sizing: border-box;
}

// .twitter-results{
//   display:flex;
// }
// .flickr-results{
//   display:flex;
// }
.youtube-results{
  display:flex;
}

.twitter-results a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.tweet {
  margin-top: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 25px;
  background: #1E2835;
  color: white;

  &__img {
    border-radius: 50%;
  }

  &__screen-name {
    color: #8B99A5;
  }

  &__fav {
    margin-left: 10px;
  }

  &__content {
    margin: 10px 0;
  }
}

.twitter-results {
  // border: 1px solid black;
  background: #161D25;
  margin: 20px 0;
  height: 500px;
  overflow: auto;
}

// Flickr Slideshow

.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

Hide the images by default
// .mySlides {
//     display: none;
// }

// Next & previous buttons
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

// Position the "next button" to the right
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

// On hover, add a black background color with a little bit see-through
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: #FFF;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
