* {
  box-sizing: border-box;
}

header{
  color:grey;
  text-align:center;
  margin:0 auto .25rem auto;
  padding:0;
  background-color:black;
}

h1{
  margin:0;
  padding:0;
}

.icons{
  margin: 0;
  padding: 0;
}

iframe {
  height:270px;
  width:100%;
  text-align:center;
  margin:0 auto 0 auto;
  // border-radius: 12px;
  border:1px solid black;
  grid-column: 2;
  grid-row: 1;
  // position:relative;

}

body{
  margin:auto;
  background-color:#555555;
}

.search-box{
  width:50%;
  margin:0 auto 0 auto;
  padding:0;
  height:40px;

}

.subtitle {
  color: #EEE;
  position: fixed;
  font-size: 1.5rem;
  // margin:.5rem 0 0 0;
  text-align:center;
}

.container {
  // background-color:black;
  display: grid;
  grid-gap: 10px;
    grid-template-columns:50% 50%;
    grid-template-rows: 270px 270px;
}


.twitter-results a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.tweet {
  margin-top: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 25px;
  background: #1E2835;
  color: white;
  

  &__img {
    border-radius: 50%;
  }

  &__screen-name {
    color: #8B99A5;
  }

  &__fav {
    margin-left: 10px;
  }

  &__content {
    margin: 10px 0;
  }
}
.tweet:hover {
  background-color:rgba(0,0,0,.4);
}

.twitter-results {
  // border: 1px solid black;
  background: #161D25;
  // margin: 20px 0;
  height: 540px;
  // width:50%;
  overflow: auto;
  grid-column:1;
  grid-row:1/2;
}

// Flickr 

.slideshow-container {
  // max-width: 50%;
  position: relative;
  height: 260px;
  width:100%;
  overflow:auto;
  margin: 0 auto 0 auto;
  grid-column:2;
  grid-row:2;
}

#flickr-photo-display-area {
  &__a {
    text-decoration: none;
  }
}

.flickrPhoto {
  margin-top: 10px;
}

.footer__twitter{
  color:white;
  grid-column:1;
  grid-row:3;
}

.footer__flickr{
  color:white;
  grid-column:2;
  grid-row:3;
}

@media all and (max-width: 700px) {
  .container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .slideshow-container {
    order: 3;
    height: 515px;
  }
  
  .twitter-results {
    order: 2;
  }
  
  iframe {
    order: 1;
  }

  .subtitle {
    color: #EEE;
    position: absolute;
    font-size: 1.5rem;
    // margin:.5rem 0 0 0;
  }
}